
.header {
    /* background-image: url("../asset/header.jpg"); */
    background-color: teal;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_wraper{
    width: 50%;    
}
.css-o69gx8-MuiCardMedia-root{
    object-fit: fill !important;
}
.product-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:before{
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
}    
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 1px solid #9da9b5 !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    background: white!important;
    border-radius: 6px!important;
    padding-right: 5px!important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input{
    padding: 9px 11px !important;
}

